html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css start*/
@import url('https://fonts.googleapis.com/css?family=Handlee');
.material-icons
{
	vertical-align: middle;
}
.main-content-container
{
	padding:30px 80px;
}
.valid
{
	border-bottom: 1px solid #fff!important;
-webkit-box-shadow: 0 1px 0 0 #fff!important;
box-shadow: 0 1px 0 0 #fff!important;
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width:32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.underlined
{
	text-decoration: underline;
}
a
{
  text-decoration: none;
	color: #2196F3;
}
.bold
{
	font-weight: 600;
}
.carousel-item
{
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
}
.vicp-operate a
{
	color: #2196F3!important;
}
html
{
  background: #FAFAFA;
}
*{
	box-sizing: border-box;
}
.picker__date-display
{
	background: #F44336;
}
.modal-titles
{
	font-size: 25px;
}
.withfont
{
	font-family: 'Kaushan Script', cursive;
}
.titles
{
	color: rgba(0, 0, 0, 0.7);
	margin: 60px 0px 20px 0px;
	font-size: 25px;
	font-family: 'Pompiere', cursive;
}
.pagination
{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.pagination-container-popular .pagination li.active
{
	width: 30px;
	padding-top: 8px;
	font-weight: bold;
	color: #fff;
	background:#3f51b5!important;
}
.pagination li.disabled
{
	display: none;
}
table.highlight>tbody>tr:hover
{
	background-color: #ccc!important;
}
.head-modal-burger
{
	margin:25px 25px 25px 0px;
}
.head-modal-burger i
{
	color:#fff;
}
.breadcrumb
{
	font-size: 15px!important;
	color: #21252B!important;
}
.nav a
{
	color: #21252B!important
}
.head-modal-burger i
{
	font-size: 35px;
}
.login-cointainer
{
	background: #fff;
}
#login-modal
{
	position:fixed;
	top: -6000px;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	left: 0;
	height: 100vh;
	width: 100%;
	transition:top .5s;
	z-index: 15;
}
#login-modal.active
{
	top:0;
}
.header-container
{
  display: flex;
  padding:0px 80px;
  justify-content: space-between;
  top:0;
  left: 0;
  right: 0;
	color: #f4f4f4!important;
  background:#3f51b5;
	-webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}
.content-container
{
	min-height: 100vh;
}
nav
{
	padding:0 80px;
	background:transparent!important;
}
@media (max-width:648px)
{
	.header-container
	{
		flex-direction: column;
	}
	.head-modal-burger
	{
		margin: 0 auto;
	}
	nav
	{
		padding:0 20px;
	}
}
@media (max-width:505px)
{
	.header-container
	{
		padding:20px;
	}
}
.left-header
{
  font-weight: 600;
	display: flex;
}
.left-header .logo
{
	margin:25px;
}
.right-header
{
  font-weight: 300;
}
.right-header > i
{
  color: rgba(0, 0, 0, 0.5);
}
.right-header ul
{
  display: flex;
  color: #f2f2f2;
}
@media (max-width:648px)
{
	.right-header ul
	{
		justify-content: center;
	}
	.left-header
	{
		flex-direction: column;
	}
}
.right-header li.active
{
	background-color:rgba(255, 255, 255, 0.1);
	border-bottom: 3px solid #fff;
}
.right-header > ul >li:hover
{
	border-bottom: 3px solid #fff;
}
.right-header ul li
{
  padding:30px 20px;
}
.right-header > ul > li > i
{
	color:#fff;
}
.right-header ul li a
{
	color:#fff;
	/*text-align: center;*/
}
.nav-parent:hover
{
	background: transparent!important;
	border-bottom: 0px!important;
}
.nav-parent:hover .nav-drop
{
	top:64px;
}
.nav-parent
{
	position: relative;
}
.nav-parent img
{
	height: 30px;
	width: 30px;
	border-radius: 50%;
}
.nav-drop
{
	position: absolute;
	top:-6000px;
	left:-60px;
	width: 200px;
	display: flex;
	flex-direction: column;
	z-index:20;
	border-radius: 2px;
	background:#fff;
	-webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}
.nav-drop li:hover
{
	background: #e9e9e9;
}
.nav-drop li
{
	padding:16px!important;
}
.nav-drop a
{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7)!important;
}
.logo
{
  font-size:20px;
  padding:5px;
  margin:0 auto;
  color:inherit;
	text-align: center;
	letter-spacing:5px;
}

.parallax-container
{
  height: 100vh;
  z-index: 1!important;
}

/*landing page*/
.parallax-container
{
  height:100vh;
}
.short-about-container
{
  display: flex;
  padding:60px 100px;
}
.about-left
{
  flex:1;
  padding:20px;
  text-align: center;
  color: #3E3C3D;
}
.about-left h1
{
  font-size:30px;
  font-weight: bold;
  margin-bottom:30px;
}
.about-left p
{
  line-height: 25px;
}
.about-left h6
{
  font-weight: bold;
  text-decoration: underline;
  letter-spacing:1px;
  padding:10px 0px;
}
.about-right
{
  flex:1;
  padding:20px;
}
.about-right img
{
  width: 100%;
}
.most-ordered-dish-container
{
  display: flex;
  padding:40px 90px;
}
.most-ordered-left
{
  padding:20px;
  flex:1;
}
.most-ordered-container
{
  display: flex;
}
.imageDish
{
  padding:10px;
  width:50%;
  height: 50%;
}
.imageDish img
{
  width: 100%;
}
.most-ordered-right h1
{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.most-ordered-right
{
  flex:1;
  text-align: center;
  color: #3E3C3D;
}
.most-ordered-right p
{
  line-height: 25px;
}

/*footer*/
footer
{
	background: #3f51b5;
	color:#f4f4f4!important;
}
.footer-container-top
{
  padding:100px 110px;
	border-top: 1px solid #ccc;
}
.footer-container-bot
{
  padding: 30px 110px;
}
.left-footer h6
{
  font-weight: 300;
}
.left-footer h5
{
  font-size: 16px;
  font-weight: 300;
}
.left-footer h3
{
  font-size: 20px;

}
.left-footer h3 i
{
  margin-right: 10px;
}
/*index company*/
.index-company-container
{
	min-height: 100vh;
	padding:10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.company-box
{
	max-width:300px;
	margin:25px;
}
.company-box h5
{
	margin: auto;
	color: #4caf50;
}
.card-title
{
	font-size: 16px!important;
}
/*menu index*/
.menu-index-container
{
	padding:10px;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.menu-box
{
	background:#ff8f00;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.menu-container
{
	padding:10px 10px 0px 10px;
	background: #fff;
	border-radius: 4px;
	width:300px;
	min-width: 300px;
	max-height: 300px;
	margin:40px 0px;
	display: flex;
	flex-direction: column;
		background: #f9f9f9;
}
.menu-box .mini-box
{
	position: absolute;
	top:0px;
	right: 500px;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding:10px;
}
.mini-box h5
{
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}
.menu-box:hover .mini-box
{
	right: 0;
	left: 0px;
}
.mini-box p
{
	font-size: 12px;
	text-align:left;
	text-align: justify;
	line-height: 19px;
}
.mini-box h6
{
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	position: absolute;
	bottom: 0;
	background: #fff;
	color: #282C34;
}
.menu-box img
{
	width: 100%;
	transform: scale(1.2);
	transition: transform 2s ease-in-out;
}
.menu-box:hover img
{
transform: scale(1.0);
}
.menu-bottom
{
	flex-wrap: wrap;
}
.menu-left-buttons
{
	display: flex;
	padding:5px;
}
.menu-right-buttons
{
	padding:5px;
}
.menu-left-buttons h5
{
	font-size: 14px;
	font-weight: 600;
	color: #353535;
}
.menu-right-buttons ul
{
	display: flex;
}
.menu-right-buttons ul a
{
	flex:1;
}
.menu-right-buttons ul li
{
	color: #A1A1A1;
	padding:5px;
}
.comments-count
{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.menu-right-buttons ul li i
{
	font-size: 20px;
}
.menu-right-buttons ul li p
{
	display: inline-block;
	font-size: 13px;
}

/*unverified alert*/
.verification-input
{
	background:transparent;
	padding:60px 80px 20px 80px;
	width: 100%;
	display: flex;
}
.verification-input i
{
	color:#3f51b5;
}

/*company profile*/
.company-cover-hero:hover >.company-cover-edit
{
	display: flex;
}
.company-cover-hero
{
	position: relative;
	margin-bottom: 100px;
	height: 400px;
	width: 100%;
	background: #f7f7f7;
	border:8px solid #fff;
	position: relative;
	-webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
	display: flex;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.company-cover-edit
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	bottom: 0;
	right: 0;
	width:150px;
	height: 60px;
	position: absolute;
	background:rgba(0, 0, 0, 0.5);
	display: none;
}
.company-cover-edit p
{
	font-weight: bold;
	color: #fff;
	text-align:left;
	margin:auto;
}
.company-cover-edit i
{
	margin: auto;
	color: #ccc;
	font-size: 30px;
}

#company-logo img
{
	height: 200px;
	width: 200px;
	border-radius:50%;
	border:8px solid #fff;
}
#company-logo:hover .edit-profile-btn
{
	right: 0;
	transition: all .5s;
}
.edit-profile-btn
{
	position: absolute;
	top:50%;
	padding: 5px 20px;
	width: 100%;
	right: -2000px;
	bottom:30%;
	border-radius: 4px;
	display:flex;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
}
.edit-profile-btn i
{
	margin:auto;
	font-size: 30px;
	color: #ccc;
}
.edit-profile-btn p
{
	font-weight: bold;
	margin:auto;
	color: #fff;
}
#company-logo
{
	overflow: hidden;
	z-index: 10;
	background: #E8E8E6;
	height: 200px;
	width: 200px;
	border-radius:50%;
	position: absolute;
	bottom: -80px;
	left: 100px;
	-ms-filter: drop-shadow(-1px 6px 4px #a5a5a5);
	-webkit-filter: drop-shadow(-1px 6px 4px #a5a5a5);
	-moz-filter: drop-shadow(-1px 6px 4px #a5a5a5);
	-o-filter: drop-shadow(-1px 6px 4px #a5a5a5);
	filter: drop-shadow(-1px 6px 4px #a5a5a5);
}
.company-name
{
	margin:auto;
	color: #fff;
	text-transform:capitalize;
	font-family: 'Handlee', cursive;
}
.profile-drinks-container .card
{
	width: 300px;
}
.profile-drinks-container
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 60px;
}
/*company profile map*/
.map-container
{
	height: 400px;
	width: 100%;
}
.location-title
{
	font-size: 25px;
font-family: 'Pompiere', cursive;
}
#map-canvas,#company-profile-map
{
	width:100%;
	height:300px;
}

/*showcase profile*/
.custom-package-title
{
	font-size: 30px;
	color: rgba(0, 0, 0, 0.7);
	margin-top: 100px;
	text-align: center;
	font-family: 'Pompiere', cursive;
}
.radio-sort-container
{
	display: flex;
	justify-content:flex-start;
}
.radio-sort-container p
{
	margin-right: 20px;
}
.sorting-container
{
	border-radius: 3px;
	border:1px solid #e0e0e0;
	padding:10px;
}
.custom-package-foodmenu
{
	font-family: 'Pompiere', cursive;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 25px;
	color: rgba(0, 0, 0, 0.7);
}
.card .card-content
{
	padding:10px!important;
}
.menu-showcase
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 20px;
	max-height: 100vh;
}
.search-container
{
	display: flex;
	justify-content: flex-start;
}
.search-container input
{
	max-width: 250px;
}
.showcase-box
{
	width:300px;
	margin:0px 0px 40px 0px;
	position:relative;
}
.menu-action-btns:hover
{
	background: rgba(0, 0, 0, 0.7);
}
.menu-action-btns
{
	transition: background .5s;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	display: flex;
	background: rgba(0, 0, 0, 0.4);
	justify-content: space-between;
	padding:10px 5px;
}
.menu-action-btns .right-option i:hover
{
	background: rgba(255, 255, 255, 0.9);
	color: rgba(0, 0, 0, 0.8);
}
.menu-action-btns i
{
	border-radius: 3px;
	margin-left: 5px;
	color:#fff;
}
.product-switch
{
	font-weight: bold;
	border:1px solid #fff;
	padding:3px 10px 3px 0px;
	border-radius: 5px;
}
.card-content a.btn
{
	margin-top: 20px;
}
.menu-options
{
	display: flex;
	justify-content: space-between;
}
.menu-option-btn
{
	flex:2;
	margin:auto;
	display: flex;
	justify-content: flex-start;
}
.menu-option-btn i
{
	margin-right:10px;
	font-size: 23px!important;
}
.view-btn:hover,.add-btn:hover
{
	color:#2196F3;
}
.fav-btn,.view-btn,.add-btn
{
	font-size: 30px!important;
	color:#9E9E9E;
	cursor: pointer;
}
.fav-btn:hover
{
	color: #F44336;
}
/*food menu adding form*/
.food-form-container
{
	margin-top: 20px;
}
.food-image-finder
{
	margin-bottom: 20px;
}

/*aboutcompany*/
.about-company-data
{
	padding:20px 0px 0px 0px;
	display: flex;
}
.left-about-company
{
	padding:20px 50px 20px 0px;
	width: 300px;
}
.right-about-company
{
	flex:2;
}
.about-company-data table
{
	width: 100%;
}
.about-company-data td p
{
	text-align: justify;
}
.about-company-data th,.about-company-data td
{
	padding:15px 0px!important;
}
/*food company show*/



/*session added list*/
.added-session-table td img
{
	width: 50px;
	height: 50px;
}
.added-session-table td i:hover
{
	cursor: pointer;
	color: #E34F34!important;
}
/*packgages*/
.packages-list .card
{
	max-width:300px;
	margin:20px 0px;
}
.packages-list
{
	display: flex;
	margin-bottom: 50px;
	justify-content: space-between;
	flex-wrap: wrap;
}



/*proceed*/

.session-product-table,.package-table-proceed
{
	padding:30px;
}
.package-table-proceed th
{
	font-weight: 600;
}
.session-product-table table td img
{
	width: 50px;
}
.proceed-forms
{
	margin-top: 50px;
	display: flex;
}
.proceed-form-left,.proceed-form-right
{
	flex:1;
	padding:30px;
}
#customer-location
{
	height: 330px;
}
.held-place-note
{
	display: flex;
	margin-top: 30px;
	margin-bottom:10px;
}
.held-place-note p
{
	margin-left: 10px;
}
.submit-btn-container
{
	padding:20px 30px;
}
.color-added-chips
{
	margin:30px 0px;
}
.available-colors-container
{
	width: 100%;
}
.color-form
{
	display: flex;
	margin: 30px 0px;
}
.color-form i
{
	font-size: 35px!important;
	color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}
.color-added-chips .chip i
{
	font-size: 20px;
	cursor: pointer;
}

.company-settings-table-container .logo-prev
{
	border:4px solid #fff;
	max-width: 150px;
}
.company-settings-table-container .cover-prev
{
	border:4px solid #fff;
	max-width: 400px;
}
.company-settings-table-container td p
{
	max-width:300px;
}
.company-settings-table-container td input,.company-settings-table-container td textarea
{
	max-width: 250px;
}

#map-update
{
	width: 100%;
	height: 400px;
}
.map-update-class-container
{
	display: flex;
}
.color-menu-container
{
	display: flex;
	justify-content:flex-start;
	flex-wrap: wrap;
}
.color-menu-container .color [type="checkbox"]+label
{
	margin-top: 6px;
}
.color-menu-container .color
{
	padding:5px 10px;
	border-radius: 6px;
	background: #f5f5f5;
	display: flex;
	margin:20px 20px 20px 0px;
	justify-content: center;
}
.color-menu-container .color h6
{
	display: block;
	height: 20px;
	width: 20px;
}
.theme-pick-label
{
	color:rgba(0, 0, 0, 0.7);
	margin:40px 0px 20px 0px;
}

.confirm-submit-container
{
	margin-top: 40px;
	display: flex;
}
/*request list*/
.request-container
{
	display: flex;
}
.request-left
{
	flex:1;
	margin-right: 20px;
	width: 300px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}
.no-request-note
{
	font-size: 19px;
	font-weight: bold;
	text-align: center;
}
.ExistingSchedTitle
{
	margin:30px 0px 20px 0px;
	font-weight: bold;
}
.event-and-time
{
	display: flex;
}
.event-and-time p
{
	flex:1;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding:0px 20px;
}
.event-and-time p i
{
	margin: 0 auto;
}
.req-data-container
{
	flex:3;
}
.req-data-table
{
	padding-bottom: 40px;
}
.req-data-container table td p
{
	max-width: 300px;
}
.collection-item.active:hover
{
	background-color:#F44336!important;
}
.collection-item:hover
{
	background-color: #F1f1f1!important;
}

.request-buttons
{
	margin-top: 40px;
	display: flex;
	justify-content: flex-end;
}
#location-show
{
	height: 500px;
	width: 100%;
}
#existing-order-location
{
	height:500px;
	width: 100%;
}
.no-existing-cater-info
{
	padding:7px 14px;
	text-align: center;
}
.req-data-container table tbody th
{
	width:200px!important;
	font-weight: bold;
}
.color-preview
{
	height: 30px;
	width: 30px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.request-preview-box
{
	max-width:150px;
	background: #ffff;
	margin:10px;
	padding:5px;
	border-radius: 5px;
}
.request-preview-box p
{
	font-weight: bold;
	color: rgba(0, 0, 0, 0.7);
	padding:4px;
	font-size: 13px!important;
}
.request-preview-box img
{
	width: 100%;
}
.submited-preview-container
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.collection .collection-item.active
{
	background:#3f51b5!important;
}
.collection .collection-item.active i
{
	color: #fff!important;
}
.message-prev-exist
{
	text-align:justify;
	padding:0px 20px;
}

/*calendar shedule*/
.calendar-shed-container
{

}
.event-top-container
{
	padding:10px 0px;
	display: flex;
	justify-content: space-between;
}
.event-item
{
	margin-top: 15px!important;
}

.event-top-container .chip
{
	padding:0px 5px;
	background: #fff;
}
.event-bot-container
{
	padding:20px 0px 10px 0px;
	display: flex;
}
.bot-event-left
{
	flex:1;
}
.bot-event-right a:hover
{
	color:#3f51b5!important;
}
.bot-event-left i
{
	display: inline-block
}
.bot-event-left p
{
	display: inline-block;
	margin-bottom: 20px;
}
.events-wrapper
{
	border-radius: 4px!important;
}

/*calendar detail preview*/
.small-product-box
{
	width: 150px;
	padding:5px;
	margin:5px;
}
.small-product-previewer
{
	display: flex;
	flex-wrap: wrap;
	justify-content:flex-start;
}
.small-product-box img
{
	width: 100%;
}
.small-product-box p
{
	padding:5px 0px;
	font-size: 14px;
}
#location-small-prev
{
	height: 300px;
	width: 100%;
}
/*notification*/
.notif-icon-container
{
	min-width: 80px;
}
.notif-parent:hover
{
	background: transparent!important;
}
.notif-parent:hover > i,.notif-parent.clicked > i
{
	color: rgba(0, 0, 0, 0.7);
}
.notif-parent
{
	position:relative;
	cursor: pointer;
}
.dropdown-notif.active
{
	display: block;
}
.dropdown-notif
{
	position: absolute;
	top:60px;
	left: -376px;
	width: 430px;
	min-height: 400px;
	background: #fff;
	z-index: 15;
	border-radius:2px;
	display: none;
}
.notification-content-container::-webkit-scrollbar {
    width:10px;
}

.notification-content-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.notification-content-container::-webkit-scrollbar-thumb {
  background-color:#d2d2d2;
  outline: 1px solid slategrey;
	border-radius: 5px;
}
.notification-content-container
{
	max-height: 400px;
	overflow-y: auto;
	overflow-x:hidden;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.dropdown-notif > p
{
	font-size: 13px;
	padding:10px;
}
.notification-box:hover
{
	background: #f2f2f2;
	cursor: pointer;
}
.notification-box.unread
{
	background: #f2f2f2;
}
.notification-box
{
	display: flex;
	justify-content: flex-start;
	padding:10px;
}
.notification-box img
{
	width: 45px;
	height: 45px;
}
.notfication-box-data > p
{
	font-size: 13px;
	margin-top: 7px;
	margin-bottom: 7px;
}
.notfication-box-data > p > i
{
	font-size:20px;
}
.notfication-box-data
{
	padding:10px;
}
.see-all-notif
{
	padding:10px;
	font-size: 14px;
}
.load-more-notif
{
	text-align: center;
	margin: 0 auto;
}
.notif-count-circle
{
	border-radius: 50%;
	height: 18px;
	min-width: 18px;
	font-weight: bold;
	font-size: 13px;
	padding-top: 2px;
	position: absolute;
	top: 25px;
	left:35px;
	text-align: center;
	background:#f44336!important;
}
.empty-notifs
{
	text-align: center;
	padding:150px 0px;
}
.notif-desc
{
	text-align:right;
}

/*package*/
.Package-Create-Container
{
	margin-bottom: 70px;
}
.product-box-modal-container
{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
}
.package-forms
{
	max-width: 500px;
}
.product-box
{
	margin-bottom: 20px;
	width: 130px;
	border-radius: 4px;
	padding:5px;
}
.product-box p
{
	font-size: 13px;
	padding:2px;
}
.product-box img
{
	width: 100%;
	border-radius: 3px;
}
.pack-form-container
{
	display: flex;
}
.pack-form-left
{
	flex:1;
}
.pack-form-right
{
	flex:1;
}
.pack-form-right table th
{
	font-weight: 600;
}
.package-forms
{
	padding:30px;
	background: #FFF;
	margin-top: 15px;
	height: 100%;
}
.search-modal-container
{
	margin-top: 30px;
}
.modal-pagination
{
	margin-top: 40px;
}
.table-pack-selected
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/*package show*/
.edit-pack-container
{
	display: flex;
	justify-content: space-between;
}
.edit-pack-container input
{
	max-width: 500px;
}
.package-show-container td i
{
	cursor: pointer;
}
.package-show-container th
{
	min-width: 300px;
	font-weight: bold;
}
.product-box-bigger
{
	margin-bottom: 20px;
	width: 240px;
	border-radius: 4px;
	padding:5px;
	position: relative;
}
.close-btn-preview:hover
{
	transform:rotate(180deg);
}
.close-btn-preview
{
	transition: transform .5s;
	position: absolute;
	top: -8px;
	right: -8px;
	color: #fff;
	border-radius: 50%;
	z-index: 16;
	cursor:pointer;
	background: rgba(0, 0, 0, 0.6);
}
.product-box-bigger p
{
	font-size: 13px;
	padding:2px;
}
.product-box-bigger img
{
	width: 100%;
	border-radius: 3px;
}
.table-package-product-container
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.i-want-container
{
	display: flex;
	justify-content: flex-end;
}
.i-want-container p
{
	font-size: 19px;
	margin-top: 40px;
	color: rgba(0, 0, 0, 0.8);
}

#login-opener-3
{
	cursor: pointer;
}
.all-products-choices
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/*account settings*/
.account-box-current
{
	margin:0 auto;
	max-width: 650px;
}
.account-data-box
{
	display: flex;
	justify-content: space-between;
	padding:5px 20px;
}
.account-data-box i
{
	font-size: 26px;
	cursor: pointer;
}
.account-data-box div
{
	font-size: 15px;
	text-align: left;
	padding:16px 26px;
}
.account-content
{
	flex:1;
}
.account-content i
{
	font-size: 11px;
}
.account-header
{
	min-width: 160px;
}
