html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css start*/
.material-icons
{
	vertical-align: middle;
}
a
{
  text-decoration: none;
}
html
{
  background: #f5f5f5;
}
*{
	box-sizing: border-box;
}
.withfont
{
	font-family: 'Kaushan Script', cursive;
	color: #03A9F4;
}
.highlight
{
  color:#fff;
  font-weight:600;
  letter-spacing: 2px;
}
.head-modal-burger
{
	margin:25px;
}
.head-modal-burger i
{
	color: #fff;
}
.breadcrumb
{
	font-size: 15px!important;
	color: #21252B!important;
}
.nav a
{
	color: #21252B!important
}
.head-modal-burger i
{
	font-size: 35px;
}
#login-modal
{
	position:fixed;
	top: -1000px;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	left: 0;
	height: 100vh;
	width: 100%;
	transition:top .5s;
	z-index: 15;
}
#login-modal.active
{
	top:0;
}
.header-container
{
  display: flex;
  padding:0px 100px;
  justify-content: space-between;
  top:0;
  left: 0;
  right: 0;
  background:#03a9f4;
}
.content-container
{
	min-height: 100vh;
}
nav
{
	padding:0 120px;
}
@media (max-width:648px)
{
	.header-container
	{
		flex-direction: column;
	}
	.head-modal-burger
	{
		margin: 0 auto;
	}
	nav
	{
		padding:0 20px;
	}
}
@media (max-width:505px)
{
	.header-container
	{
		padding:20px;
	}
}
.left-header
{
  font-weight: 600;
	display: flex;
}
.left-header .logo
{
	margin:25px;
}
.right-header
{
  font-weight: 300;
  font-size: 14px;
}
.right-header i
{
  color: #fff;
}
.right-header ul
{
  display: flex;
  color: #f2f2f2;
}
@media (max-width:648px)
{
	.right-header ul
	{
		justify-content: center;
	}
	.left-header
	{
		flex-direction: column;
	}
}
.right-header li.active
{
	color: #b3e5fc!important;
}
.right-header ul li
{
  margin-left:15px;
  margin-right: 15px;
  padding:25px 10px;
}
.nav-parent:hover .nav-drop
{
	top:74px;
}
.nav-parent
{
	position: relative;
}
.nav-drop
{
	position: absolute;
	top:-100vh;
	left:-60px;
	width: 180px;
	display: flex;
	flex-direction: column;
	z-index: 5;
	border-radius: 4px;
	padding:5px;
	background: rgba(0, 0, 0, 0.5);
}
.nav-drop li
{
	padding:16px!important;
}
.nav-drop a
{
	text-decoration: none;
	color: #fff;
}
.logo
{
  font-size: 20px;
  padding:5px;
  margin: auto;
  letter-spacing:14px;
  color: #f3f3f3;
	text-align: center;
  border: 1px solid #f3f3f3;
}
.parallax-container
{
  height: 100vh;
  z-index: 1!important;
}

/*landing page*/
.parallax-container
{
  height:100vh;
}
.short-about-container
{
  display: flex;
  padding:60px 100px;
}
.about-left
{
  flex:1;
  padding:20px;
  text-align: center;
  color: #3E3C3D;
}
.about-left h1
{
  font-size:30px;
  font-weight: bold;
  margin-bottom:30px;
}
.about-left p
{
  line-height: 25px;
}
.about-left h6
{
  font-weight: bold;
  text-decoration: underline;
  letter-spacing:1px;
  padding:10px 0px;
}
.about-right
{
  flex:1;
  padding:20px;
}
.about-right img
{
  width: 100%;
}
.most-ordered-dish-container
{
  display: flex;
  padding:40px 90px;
}
.most-ordered-left
{
  padding:20px;
  flex:1;
}
.most-ordered-container
{
  display: flex;
}
.imageDish
{
  padding:10px;
  width:50%;
  height: 50%;
}
.imageDish img
{
  width: 100%;
}
.most-ordered-right h1
{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.most-ordered-right
{
  flex:1;
  text-align: center;
  color: #3E3C3D;
}
.most-ordered-right p
{
  line-height: 25px;
}

/*footer*/
.footer-container-top
{
  background: #03A9F4;
  color: #f3f3f3;
  padding:100px 110px;
}
.footer-container-bot
{
  padding: 30px 110px;
  background:#e5e5e5;
}
.left-footer h6
{
  font-weight: 300;
}
.left-footer h5
{
  font-size: 16px;
  font-weight: 300;
}
.left-footer h3
{
  font-size: 20px;

}
.left-footer h3 i
{
  margin-right: 10px;
}
/*index company*/
.index-company-container
{
	min-height: 100vh;
	padding:40px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.company-box
{
	max-width: 400px;
	margin:25px;
	text-align: center;
}
.company-box h5
{
	margin: auto;
	color: #fff;
}
/*menu index*/
.menu-index-container
{
	padding:10px 100px;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.menu-box
{
	background:#ff8f00;
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}
.menu-container
{
	padding:10px 10px 0px 10px;
	background: #fff;
	border-radius: 4px;
	height: 300px;
	width:300px;
	min-width: 300px;
	margin:20px;
	display: flex;
	flex-direction: column;
}
.menu-box .mini-box
{
	position: absolute;
	top:0px;
	right: 500px;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding:10px;
}
.mini-box h5
{
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}
.menu-box:hover .mini-box
{
	right: 0;
}
.mini-box p
{
	font-size: 12px;
	text-align:left;
	text-align: justify;
	line-height: 19px;
}
.mini-box h6
{
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	position: absolute;
	bottom: 0;
	background: #fff;
	color: #282C34;
}
.menu-box img
{
	width: 100%;
	height: 100%;
	transform: scale(1.2);
	transition: transform 2s;
}
.menu-box:hover img
{
transform: scale(1.0);
}
.menu-bottom
{
	flex-wrap: wrap;
}
.menu-left-buttons
{
	display: flex;
	padding:5px;
}
.menu-right-buttons
{
	padding:5px;
}
.menu-left-buttons h5
{
	font-size: 14px;
	font-weight: 600;
	color: #353535;
}
.menu-right-buttons ul
{
	display: flex;
}
.menu-right-buttons ul a
{
	flex:1;
}
.menu-right-buttons ul li
{
	text-align: center;
	color: #A1A1A1;
	padding:5px;
}
.comments-count
{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.menu-right-buttons ul li i
{
	font-size: 20px;
}
.menu-right-buttons ul li p
{
	display: inline-block;
	font-size: 13px;
}

/*modal css*/
